
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Octopress memo - memos</title>
  <meta name="author" content="流年">

  
  <meta name="description" content="Install bash -s stable &lt; &lt;(curl -s https://raw.github.com/wayneeseguin/rvm/master/binscripts/rvm-installer) Add to shell command echo '[[ -s "$ &hellip;">
  

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <link rel="canonical" href="http://liunian.github.com/blog/octopress/">
  <link href="/favicon.png" rel="icon">
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <script src="/javascripts/modernizr-2.0.js"></script>
  <script src="/javascripts/ender.js"></script>
  <script src="/javascripts/octopress.js" type="text/javascript"></script>
  <link href="/atom.xml" rel="alternate" title="memos" type="application/atom+xml">
  <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">

  

</head>

<body   >
  <header role="banner"><hgroup>
  <h1><a href="/">memos</a></h1>
  
</hgroup>

</header>
  <nav role="navigation"><ul class="subscription" data-subscription="rss">
  <li><a href="/atom.xml" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  
</ul>
  
<form action="http://google.com/search" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:liunian.github.com" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
  
<ul class="main-navigation">
  <li><a href="/">Blog</a></li>
  <li><a href="/blog/archives">Archives</a></li>
  <li><a href="/about/">About</a></li>
</ul>

</nav>
  <div id="main">
    <div id="content">
      <div>
<article class="hentry" role="article">
  
  <header>
    
      <h1 class="entry-title">Octopress Memo</h1>
    
    
      <p class="meta">
        








  


<time datetime="2012-10-03T15:55:00+08:00" pubdate data-updated="true">Oct 3<span>rd</span>, 2012</time>
        
      </p>
    
  </header>


<div class="entry-content"><p>Install</p>

<pre><code>bash -s stable &lt; &lt;(curl -s https://raw.github.com/wayneeseguin/rvm/master/binscripts/rvm-installer)
</code></pre>

<p>Add to shell command</p>

<pre><code>echo '[[ -s "$HOME/.rvm/scripts/rvm" ]] &amp;&amp; . "$HOME/.rvm/scripts/rvm" # Load RVM function' &gt;&gt; ~/.bash_profile
source ~/.bash_profile

# If using Zsh do this instead
echo '[[ -s $HOME/.rvm/scripts/rvm ]] &amp;&amp; source $HOME/.rvm/scripts/rvm' &gt;&gt; ~/.zshrc
source ~/.zshrc
</code></pre>

<p>Install Ruby</p>

<pre><code>rvm install 1.9.2 &amp;&amp; rvm use 1.9.2
# 1.9.3 will not fit here for now
</code></pre>

<p>Switch back to system</p>

<pre><code>rvm use system
</code></pre>

<p>when using zsh, should add something in .zshrc to make it work right.</p>

<pre><code>alias rake="noglob rake"
</code></pre>

<p>After adding it, restart the terminal or source the .zshrc file.</p>

<!--more-->


<h2>code snippets</h2>

<h3><a href="http://octopress.org/docs/blogging/code/">Basic</a></h3>

<pre><code>``` [language] [title] [url] [link text]
code snippet
```
</code></pre>

<h3>Gists</h3>

<pre><code>{% gist gist_id [filename] %}
</code></pre>

<h3>Include Code Snippets</h3>

<p>Import files on your filesystem into any blog post as embedded code snippets with syntax highlighting and a download link. In the _config.yml you can set your code_dir but the default is <code>source/downloads/code</code>. Simply put a file anywhere under that directory and use the following tag to embed it in a post.</p>

<pre><code>{% include_code [title] [lang:language] path/to/file %}
</code></pre>

<p>Following example will include the code file: <code>source/downloads/code/test.js</code></p>

<pre><code>{% include_code test.js  %}
</code></pre>

<h2>image</h2>

<pre><code>{% img [class names] /path/to/image [width] [height] [title text [alt text]] %}
</code></pre>

<h2><a href="http://octopress.org/docs/plugins/blockquote/">extended blockquote</a></h2>

<pre><code>{% blockquote [author[, source]] [link] [source_link_title] %}
Quote string
{% endblockquote %}
</code></pre>

<h2>Render Partial</h2>

<pre><code>{% render_partial path/to/file %}
</code></pre>

<h2>add about page</h2>

<pre><code>http://gangmax.github.com/blog/2012/05/04/add-about-page-in-octopress/
</code></pre>
</div>


  <footer>
    <p class="meta">
      
  

<span class="byline author vcard">Posted by <span class="fn">流年</span></span>

      








  


<time datetime="2012-10-03T15:55:00+08:00" pubdate data-updated="true">Oct 3<span>rd</span>, 2012</time>
      

<span class="categories">
  
    <a class='category' href='/blog/categories/octopress-/'>Octopress,</a>, <a class='category' href='/blog/categories/memo/'>memo</a>
  
</span>


    </p>
    
      <div class="sharing">
  
  
  
</div>

    
    <p class="meta">
      
        <a class="basic-alignment left" href="/blog/python-tutorial/" title="Previous Post: Python Tutorial">&laquo; Python Tutorial</a>
      
      
    </p>
  </footer>
</article>

</div>

<aside class="sidebar">
  
    <section>
  <h1>Recent Posts</h1>
  <ul id="recent_posts">
    
      <li class="post">
        <a href="/blog/octopress/">Octopress memo</a>
      </li>
    
      <li class="post">
        <a href="/blog/python-tutorial/">Python Tutorial</a>
      </li>
    
      <li class="post">
        <a href="/blog/ie6-inline-block-zhe-xing-wen-ti/">ie6 inline-block 折行问题</a>
      </li>
    
      <li class="post">
        <a href="/blog/ie6-float-right-bug/">IE6 float right 导致换行</a>
      </li>
    
  </ul>
</section>






  
</aside>


    </div>
  </div>
  <footer role="contentinfo"><p>
  Copyright &copy; 2012 - 流年 -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>

</footer>
  











</body>
</html>
